 
body {
  background-color: black;
}

#anss{
  color: white;
}

button{
  margin: 5px;
  width: 40px;
  height: 35px;
  background-color: white;
  color: black;
}

input{
  border-color: white;
  color: white;
  background-color: black;
} 

form{
/* color: white; */
display: grid;
width: 20vw;
height: 8vh;
gap: 1em;
padding-bottom: 2em;
border-color: white;
}

.App{
  margin: 2.5%;
}

#head{
  color: white;
  font-size: 2em;
} 

p{
  color: lightgreen;
  font-size: 2em;
}
